@font-face {
  font-family: "Consolas";
  src: url("./fonts/CONSOLA.TTF");
}

:root {
  --form-width: 800px;
  --font-color: #303030;
  --button-font-color: #ffffff;
  --button-color: #303030
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color);
  margin: 0;
}

#root {
  width: var(--form-width);
  min-width: var(--form-width);
  margin-left: calc(50vw - var(--form-width) / 2);
}

h1 {
  margin-top: 16px;
}

h2 {
  margin: 16px 0px 16px 0px;
}

h3 {
  margin: 16px 0px 8px 0px;
}

hr {
  width: var(--form-width);
  border: none;
  border-top: 2px dotted black;
  margin-top: 16px;
}

section {
  display: flex;
  flex-flow: column nowrap;
}

.label {
  font-size: .8em;
}

label {
  font-size: .8em;
}

input {
  padding: 4px;
  width: 400px;
  outline: none;
  /* margin-bottom: 16px; */
}

table {
  border-collapse: collapse;
  width: var(--form-width);
  max-width: 1000px;
}

.spacer {
  min-height: 16px;
  border: none;
}

.pass-fail {
  width: 54px;
}

.checkbox, .checkbox input, .checkbox .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.icon-container {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  height: 24px;
  width: 24px;
}

.icon {
  position: absolute;
  top: 5px;
  left: 3px;
  transform: rotate(-50deg);
  height: 9px;
  width: 18px;
  border-bottom: 3.5px solid black;
  border-left: 3.5px solid black;
}

.checkbox input {
  position: absolute;
  opacity: 0;
}

.checkbox input:checked ~ .overlay {
  opacity: 1;
}

.checkbox .overlay {
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
}

th {
  text-align: start;
}

.line-item-notes {
  max-width: 200px;
  width: 200px;
}

.category-notes {
  width: var(--form-width);
  max-width: var(--form-width);
}

.textarea-div {
  width: 100%;
  overflow-wrap: break-word;
  border: none;
  outline: none;
}

th, td {
  padding: 4px;
  position: relative;
  border: 1px solid black;
}

button {
  margin-right: 8px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--button-font-color);
  background-color: var(--button-color);
}

button:hover {
  background-color: #3d3d3d;
}

button.delete {
  background-color: #c42222;
}

button.delete:hover {
  background-color: #c42222;
}

button.delete.round {
  border: 2px solid #c42222;
  background-color: #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 50px;
}

button.delete.round:hover {
  /* background-color: #e7e7e7; */
  border: 3px solid #c42222;
  outline: 2px solid #c42222;
}

button.minus {
  position: absolute;
  top: 1px;
  right: -36px;
  border: 2px solid #c42222;
  background-color: #ffffff;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

button.minus:hover {
  border: 3px solid #c42222;
  outline: 2px solid #c42222;
}

.button-container {
  position: absolute;
  top: -40px;
  left: 0;
}

.customer, .report {
  padding: 8px;
  margin: 4px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  cursor: pointer;
}

.customer:hover, .report:hover {
  background-color: #e9e9e9;
}

.toolbar {
  /* padding: 8px; */
  margin-top: 16px;
  margin-bottom: 16px;
  /* border: 1px solid #e9e9e9;
  border-radius: 10px; */
  /* box-shadow: 3px 3px 3px rgba(1, 1, 1, .25); */
}

svg {
  width: auto;
  height: 100%;
}

.svg-icon {
  vertical-align: top;
  display: inline-block;
  width: 14px;
  height: 14px;
}

.svg-symbol {
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 9.5px;
  left: 7px;
  width: 18px;
  height: 18px;
}

.svg-minus {
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 1px;
  width: 16px;
  height: 16px;
}

.button-text {
  color: var(--button-font-color);
  margin-left: 6px;
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
}

.reports-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.rv-info {
  /* padding: 8px 8px 12px 0px; */
  line-height: 1.5;
  border: none;
  font-size: 1em;
}

.rv-info:focus {
  border: 1px solid var(--font-color);

  padding-left: 8px;
}